

  body{
      background-color: aliceblue;
      text-align: center;
  }

  h1{
    color: balck;
  }

  a{    
    
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 4px;
    background-color: #e6b8b8; /* cor pastel para o botão */
    color: #333;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
